<nav class="col">
    <a href="#" class="link">Agenda</a>
    <div class="col">
        <ul class="col">
            
            <li>
                <a href="/contatos/register" class="link">Cadastrar Contatos</a>
            </li>
            <li>
                <a href="/login/logout" class="link">Sair</a>
            </li>
           
            
        </ul>
    </div>
</nav>